*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    width: 100%;
}
.parent {
    height: 100vh;
    width: 100vw;
    background-color: #111;
    color: #000000;
}
.card{
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .top img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #dadada;
    padding: 5px;
}
.card .top button{
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 5px;
    gap: 3px;
    background-color: transparent;
    color: #dadada;
}
.center h3{
    font-size: 18px;
}
.center h3 span{
    font-size: 10px;
    font-weight: 400;
    color: #7a7a7a;
}
.center h2{
    font-size: 20px;
    /* margin-bottom: 10px; */
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #b1b1b1;
    padding-top: 10px;
}