*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: #333;
}
.parent{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.card button{
    padding: 10px 20px;
    border: none;
    background-color: rgb(12, 77, 161);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 16px;
}
