*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.parent{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #333;
}
